<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <header>

        <nav class="navigation">
            <ul class="navbar">
                <li class="logo"><a href="/">QuizMania</a></li>
                <li class="items main"><a href="#">Login</a></li>
                <li class="items main secondary"><a href="#">JoinQuiz</a></li>
                <li class="items"><a href="#">SignUp</a></li>
                <li class="items"><a href="# ">Contact</a></li>
                <li class="items"><a href=" # ">About us</a></li>
                <li class="toggle"><span class="hamburger"></span></li>
    
            </ul>
        </nav>
    </header>
    <script src="js/script.js" type="text/javascript"></script>


</body>
</html>