<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <header>

        <ul class="navbar">
            <li><a href="/">QuizMania</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">JoinQuiz</a></li>
            <li><a href="#">SignUp</a></li>
            <li><a href="# ">Contact</a></li>
            <li><a href=" # ">About us</a></li>
    
        </ul>
        
    </header>
    <script src="js/script.js" type="text/javascript"></script>


</body>
</html>