<nav class="navbar navbar-dark navbar-expand-lg navbarcss rounded-bottom">
    <span class="navbar-brand mb-0 h1"><a href="/" style="color: white;" class="header">QuizTime</a></span>

    <!-- project heading end above -->

    <!-- getting responsive content using navbar -->

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarcollapse"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Toggle button end -->
    <div class="collapse navbar-collapse" id="navbarcollapse">
        <div class="container-float ml-auto">
            <ul class="navbar-nav ml-auto ">
                <li class="nav-item">
                    <a class="nav-link text-center font-weight-bold text-white " href="#">Sign up <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-center font-weight-bold" href="#">login</a>
                </li>
                <li class=" nav-item">
                    <a href="#" class=" nav-link text-center font-weight-bold">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>