
*{
    padding: 0;
    margin:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box ;

}

body{
    font-family: 'Neucha', cursive;
}
nav{
    background: rgb(8, 192, 192);
    height: 80px;
    width: 100%;
    
}
label.title{
    color: black;
    font-size: 35px;
    line-height: 80px;
    font-family:'Lexend Zetta',sans-serif;
    padding: 0 100px;
    font-weight: bold;

} 
nav ul{
    float: right;
    margin-left: 20px;
} 
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin:0 5px;
}
nav ul li a{
    color : white;
    font-size: 17px;
    padding: 7px 13px;
    text-transform: capitalize;

}
a.nav--option,a:hover{
    background: rgb(24, 177, 177);
    transition: .3s;
    font-weight: bold;

}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display:none;
}
@media(max-width:953px)
{
    label.title{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a {

        font-size: 16px;
    }
}
@media(max-width:800px)
{
    .checkbtn{
        display:block;
    }
    ul{
        position: fixed;
        width: 20%;
        height: 100vh;
        background:rgb(4, 136, 153);
        top:80px;
        right : -100%;
        text-align: center;
        transition: all .5s;

    }
    nav ul li{
        display:block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;

    }
    a:hover,a.active{
       background: none;
        color :rgb(8, 192, 192);
       
    }
    #check:checked ~ ul {
        right:0
    }
}
@media(max-width:500px){
    label.title{
        font-size: 30px;
        padding-left: 3px;
        
    }
    nav ul li a {
        font-size: 12px;

    }
    .checkbtn{
        font-size: 20px;
    }

}
#startbutton{
    width:23%;
    margin:auto;
    margin-top: 100px;
}

.playbtn{
    border: 10px solid rgb(4, 153, 146);
    text-align: center;
    border-radius: 500px;
    border-width: 20px;
    padding: 40px;
    background: rgb(67, 64, 243);
    cursor: pointer;
    font-size: 20px;
    font-family:  Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    margin: auto;
    outline: none;
}
.playbtn:hover{
    border :10px solid rgb(6, 90, 90);
    font-weight: bold;
    background:rgb(106, 104, 233); 
    transition: .3s;
    font-family: cursive;
    
}