<!DOCTYPE html>
<html lang="en">
<%-include('./partials/head.ejs')  %>

<body style="background-color: #F26F63;">
    <!-- Giving header style by using navbar bootstrap -->
    <%- include('./partials/nav.ejs')  %>
    <!-- navbar end -->
    <div style="min-height: 100vh;display: flex;justify-content: center;align-items: center;">
        <h1 style="font-size: 50px;"> 404! OPPs!</h1>
        <h2 style="font-size: 30px;">Page Not Found! </h2>
    </div>

    <script src="/jquery/jquery-3.5.1.min.js">   </script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>