<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Question</title>
</head>

<body>
    <h1>Add Question</h1>
    <form action="/add-question" method="POST">
        <label for="body">Blog body</label>
        <textarea id="body" name="body" required></textarea><br><br>
        <label for="body">Blog body</label>
        <textarea id="body" name="body" required></textarea><br><br>
        <label for="body">Blog body</label>
        <textarea id="body" name="body" required></textarea><br><br>
        <label for="body">Blog body</label>
        <textarea id="body" name="body" required></textarea><br><br>
    </form>
</body>

</html>