<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">

    <title>Create Quiz | QUizMania</title>
</head>

<body>
    <h1> Create quiz Id</h1>
    <div class="container" style="border: solid red; border-radius: 2%; height:auto; width: auto; padding: 2%;">
        <form action="/add-question" method="POST">
            <label for="quizId">Enter testID:</label><br>
            <input type="text" id="quizId" name="quizId"><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>

</html>