<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include ('./partials/navbar.ejs') %>
    <div class="insertform">

        <form  id = "createform"action="/insertques" method="POST">
            <div class="quesfield"> <input type="number"  name="quizId" placeholder="New Quiz ID"> </div>
            <div><button class="submit">create</button></div>
        </form>
    </div>
</body>
</html>