<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Quiz Id</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>

   <div>

    <form action="/insert/" method="POST">

        <label for="id">Enter Quiz ID</label>
        <input type="text" id="id" name="id">
        <input type="submit" value="Submit">
    
    </form>

   </div>
    
</body>
</html>