<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css" type="text/css">
    <title>Quiz Mania</title>
</head>
<body>

    <div class="welcome">

        <h1>Welcome to Quiz Mania</h1>

    </div>

    <div class="insert">

        <a href="/insert">Insert Question</a>

    </div>

    <div class="start">

        <a href="/start">Start quiz</a>

    </div>

    
</body>
</html>