<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Mania</title>
</head>
<body>

    <h1>insert question</h1>

    <form method="POST" action="/insert">
    
        <label for="ques">Question</label>
        <input type="text" id="ques" name="ques"><br><br>
        <label for="opt1">Option 1</label>
        <input type="text" id="opt1" name="opt1"><br><br>
        <label for="opt2">Option 2</label>
        <input type="text" id="opt2" name="opt2"><br><br>
        <label for="opt3">Option 3</label>
        <input type="text" id="opt3" name="opt3"><br><br>
        <label for="opt4">Option 4</label>
        <input type="text" id="opt4" name="opt4"><br><br>
        <input type="submit" value="Submit">

    </form>


    
</body>
</html>