<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>

    <form action="/start_quiz/" method="POST">
        
        <label for="id">Enter Quiz Id</label>
        <input type="text" id="id" name="id">
        <input type="submit" value="Submit">
    
    </form>
    
</body>
</html>