.quiznameform {

    position: fixed;
    top: 50%;
    left: 50%;
    height: 150px;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    overflow: hidden;
    border-radius: 10px;
    text-align: center;

}

form .quizfield {

    position: relative;
    margin: 30px 0;

}

.quizfield input {

    width: 90%;
    padding: 0 5px;
    text-align: center;
    height: 40px;
    font-size: 16px;
    background: none;

}

.quiznameform button {

    width: 60%;
    height: 30px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;

}

.quiznameform button:hover{

    border-color: #2691d9;
    transition: .5s;

}