.ready-host {

    position: fixed;
    top: 50%;
    left: 50%;
    height: 220px;
    transform: translate(-50%, -50%);
    width: 400px;
    border-radius: 10px;
    background: white;

}

.ready-host h1 {

    margin: 12px 10px;
    display: flex;
    font-weight: 500;

}

h1 h2{
    margin-left: 100px;
    font-size: 25px;
    font-weight: 500;
}

h1 h3{
    font-size: 35px;
    margin-left: 10px;
    font-weight: 500;
}

.userlist {

    color: white;
    font-size: 30px;

}
.userlist .score {

    
    font-size: 20px;

}

.username{
    font-size: 8px;
}


.ready-host button {

    width: 50%;
    height: 40px;
    margin-top: 10px;
    margin-left: 100px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;

}

.ready-host button:hover{

    border-color: #2691d9;
    transition: .5s;

}