/* .joinquiz input {

    width: 300px;
    height: 20px;
    border-radius: 25px;
    margin: 10px 350px;
}

.joinquiz button {

    width: 60px;
    height: 20px;
    border-radius: 20px;
    outline: none;

} */