.joinquiz {
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.joinquiz input{

  height: 25px;

}

.joinquiz button{

  height: 25px;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}