
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Oswald:wght@300&display=swap');

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    color: white;
    text-decoration: none;
    list-style: none;
    background: url(../images/bg.jpg);
    height: 100px;
    background-size: 1400px 1000px;
    background-repeat: no-repeat;
   
}

.logo a{
    text-decoration: none;
    color: white;
}


.logo {
    font-family: 'Fredoka One', cursive;
    font-size: 2rem;
    cursor: pointer;
    width: 60%;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 5px;
    background: none;
    outline: none;
    }
.navbar{
    list-style: none;
    display: flex;
    padding: 0px;
    flex-flow: row wrap;

    }
.items a{
    text-decoration: none;
    font-family: 'Oswald','Cursive';
    color:white;
    text-align: center;
    
    }
.items {
    padding: 3px;
    flex-wrap: wrap;
    width: 100%;
    height: 20px;
    margin: 7px 15px;
    order: 3;
    text-align: center;
    display:none;
}
.items.main{
    order: 2;
}
.items.active{
    display: inline-block;
    
}
.items:hover{
    font-weight: bold;

    
}

.hamburger{
    background:white;
    display: inline-block;
    width: 25px;
    height: 3px;
    position: relative;
}  
.toggle{
    order: 1;
    margin-right: 15px;
    cursor: pointer;
}
.hamburger::before,.hamburger::after{
    background:white;
    content: "";
    display: inline-block;
    width: 30px;
    height: 3px;
    position: absolute;
}
.hamburger::before{
    top:6px;
}
.hamburger::after{
    bottom:6px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}





/* Tablet View */

@media all and (min-width:468px)
{
    .navbar{
        padding-left: 5px;
        justify-content: center;
        border: none;
    }
    .toggle{
        order: 2;
        padding: 13px 15px;
        border: none;
    }
    .logo{
        font-size: 2rem;
        display: inline-block;
        flex:1;
        padding:7px 15px;
        text-align: left;
        border: none;
    }
    .items.main{
        order:1;
        width: auto;
        display: block;
        padding:7px 10px;
        margin: 5px;
        border: none;
        background: transparent;
}
.main a {
    padding: 7px 15px;
    background: tan;
    border: 1px solid tan;
    border-radius: 10em;
}
.secondary a {
    background: transparent;
    
}
.main:hover{
    transition: all  .3s;

}
.main:not(.secondary) a:hover{
    background: rgb(175, 147, 111);
    text-decoration: none;
    font-weight: normal;
}
}
@media all and (min-width :768px)
{
    
    .logo{
        font-size: 3.5rem;
    }
    .items{
       font-size: 1rem;
        display: block;
        width: auto;
        margin: 7px 15px;
        border: none;
        order:2;
        background: transparent;
    }
    .items.main{
        order: 3;
       
    }
    .toggle{
        display: none;
    }
}