.searchform{
    display: flex;
    
}
.quesfield.quizid input{
    width: 100%;

}
.quesfield.quizid {
    display: inline-block;
    width: 30%;
    justify-content: center;
}
.postbtn
{
    margin-left: 25px;
    border: 1px solid white;
    border-radius: 4rem;
    background: transparent;
    justify-content: center;

    
}
.postbtn:hover{
    background-color: rgb(218, 182, 136);
    transition: linear;
    transition-duration: .25s;


}


.postbtn input{
    padding: 1em;
    margin:auto;
    border: none;
    background: transparent;
    color: white;
    cursor: pointer;
    outline-style: none;
    text-decoration: none;
}
.viewquizfield
{
    position: relative;
    margin:auto;
    margin-top: 20px;
    background: rgb(128, 110, 86);
    border: 2px solid black;
    display: flex;
    padding: 15px 7px;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;

}
.quizzes{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px;
    
}
.quizimage{
    text-align: center;
    height: 90px;
    margin-left: 0px;
    
    
}
.quizids{
    border: 2px solid black;
    height: 15px;
    width: 30%;
    text-align: center;
    padding: 5px;
    align-self: center;
    color: white;
    border-radius: 4rem;

}

.options {
display: block;
}
.boxactive{
    display: block;
}


.boxhidden{
    display: none;
}
